# Dart-related files
.dart_tool
build
doc/api/
pubspec.lock

# IDE-related files
*.iml
.idea
.vscode

# Platform-related files
.DS_Store

# We want to ignore our StylesPath *except* for our local
# `vocabularies/Base` directory.

tool/vale/styles/*
!tool/vale/styles/config/

tool/vale/styles/config/*
!tool/vale/styles/config/vocabularies/

tool/vale/styles/config/vocabularies/*
!tool/vale/styles/config/vocabularies/Base
