# Created with package:mono_repo v6.5.7
name: Dart CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.5.7
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyzer_and_format; Dart 3.1.0; PKGS: packages/code_excerpt_updater, packages/code_excerpter; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0;packages:packages/code_excerpt_updater-packages/code_excerpter;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0;packages:packages/code_excerpt_updater-packages/code_excerpter
            os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: "3.1.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - id: packages_code_excerpt_updater_pub_upgrade
        name: packages/code_excerpt_updater; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: "packages/code_excerpt_updater; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: "packages/code_excerpt_updater; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - id: packages_code_excerpter_pub_upgrade
        name: packages/code_excerpter; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: "packages/code_excerpter; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: "packages/code_excerpter; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
  job_003:
    name: "analyzer_and_format; Dart dev; PKGS: packages/code_excerpt_updater, packages/code_excerpter; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/code_excerpt_updater-packages/code_excerpter;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/code_excerpt_updater-packages/code_excerpter
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - id: packages_code_excerpt_updater_pub_upgrade
        name: packages/code_excerpt_updater; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: "packages/code_excerpt_updater; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: "packages/code_excerpt_updater; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - id: packages_code_excerpter_pub_upgrade
        name: packages/code_excerpter; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: "packages/code_excerpter; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: "packages/code_excerpter; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
  job_004:
    name: "unit_test; Dart 3.1.0; PKGS: packages/code_excerpt_updater, packages/code_excerpter; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0;packages:packages/code_excerpt_updater-packages/code_excerpter;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0;packages:packages/code_excerpt_updater-packages/code_excerpter
            os:ubuntu-latest;pub-cache-hosted;sdk:3.1.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: "3.1.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - id: packages_code_excerpt_updater_pub_upgrade
        name: packages/code_excerpt_updater; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: packages/code_excerpt_updater; dart test
        run: dart test
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - id: packages_code_excerpter_pub_upgrade
        name: packages/code_excerpter; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: packages/code_excerpter; dart test
        run: dart test
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
    needs:
      - job_001
      - job_002
      - job_003
  job_005:
    name: "unit_test; Dart dev; PKGS: packages/code_excerpt_updater, packages/code_excerpter; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/code_excerpt_updater-packages/code_excerpter;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:packages/code_excerpt_updater-packages/code_excerpter
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - id: packages_code_excerpt_updater_pub_upgrade
        name: packages/code_excerpt_updater; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - name: packages/code_excerpt_updater; dart test
        run: dart test
        if: "always() && steps.packages_code_excerpt_updater_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpt_updater
      - id: packages_code_excerpter_pub_upgrade
        name: packages/code_excerpter; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: packages/code_excerpter
      - name: packages/code_excerpter; dart test
        run: dart test
        if: "always() && steps.packages_code_excerpter_pub_upgrade.conclusion == 'success'"
        working-directory: packages/code_excerpter
    needs:
      - job_001
      - job_002
      - job_003
