name: Dart

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  verify:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [ stable, beta ]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: ${{ matrix.sdk }}
      - name: Install dependencies
        run: dart pub get
      - name: Check formatting
        run: dart run melos exec "dart format --output=none --set-exit-if-changed ."
      - name: Analyze Dart code
        run: dart run melos exec "dart analyze --fatal-infos ."
      - name: Run tests on VM
        run: dart run melos exec --dir-exists=test "dart test --reporter=github --test-randomize-ordering-seed=random"
